<link rel="stylesheet" href="/css/user_profile.css" />
<h1>Codeial /Profile page</h1>
<p><%= user.name %></p>
<p><%= user.email %></p>

<!-- while manual auth used this -->
<!-- <form action="/users/sign-out" method="post">
    <input type="submit" value="logout">
</form> -->